h1 {
	margin-top: 70px;
}

.col-xs-4 {
	border: solid;
	border-width: 2px;
	border-color: red;
}

.img-circle {
	width:100%;
	margin-top: 15px;
}

.navbar {
	background-color: beige;
}

.logo {
	height: 35px;
	width:40px;
	margin-top: -8px;
}